.heading {
    margin: 0 0 2rem;
    font-size: 3rem;
    font-weight: 700;
}
.navLink {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 3rem 0 0;
}
.notifyMessage {
    font-size: 1.4rem;
    text-align: center;
    color: #04804d;
}
.navLink-Icon {
    font-size: 4rem;
    position: absolute;
    top: -1rem;
    left: 2rem;
}
